{% extends 'back/base.html.twig' %}

{% block title %}
    Gestion Modèles
{% endblock %}

{% block body %}
    <h1>Créer un nouveau modèle</h1>

    {{ include('back/model/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('app_model_index') }}">Retour</a>
{% endblock %}
