{% extends 'front/base.html.twig' %}

{% block body %}


<div class="container">
    <div class="col-md-12 mt-5">
        <div class="text-center">
            <h1>Bienvenue chez Bébou-Auto</h1>
        </div>
    </div>
</div>

<div id="menuCards" class="mt-5">
    <div class="container">
        <div class="col-md-12">
            <h5>Les annonces</h5>
            <hr class="mt-0">
            <div class="mt-5 row d-flex justify-content-center text-center">
                {% include 'front/partials/_cardListing.html.twig' %}
            </div>
        </div>
    </div>
</div>
                {% endblock %}
